<footer id="layout-footer">
    <div>
        <p>
            India's No 1 Social media app : Codeial
        </p>
    </div>
<!-- 
    <div>
        <nav class="footer-nav">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/users/profile">Profile</a>
                </li>
            </ul>
        </nav>
    </div> -->
</footer>