<header>
    Page Header

    <ul>
        <!-- If user exists/logged in, then a link to profile and signout option else sign in and sign up options  -->
        <% if (locals.user){ %>
            <li>
                <a href="/users/profile">
                    My profile : <%= user.name %>
                </a>
            </li>
            <li>
                <a href="/users/sign-out">Sign Out</a>
            </li>
        <% }else{ %>

            <li>
                <a href="/users/sign-in">Sign In</a>
            </li>

            <li>
                <a href="/users/sign-up">Sign Up</a>
            </li>


        <% } %>
    </ul>

</header>