
        <link rel="stylesheet" href="/css/user_profile.css">
        <h1>
            Codeial / Profile Page 
        </h1>

        <!-- Setauthenticateduser function is used to retrieve frokm cookies to views -->
        <p> Name : <%= profile_user.name %> </p>
        <p> Email : <%= profile_user.email %> </p>